for loop :-
The for loop is a control structure in Python that allows you to execute a block of code repeatedly for each item in a sequence (such as a list, tuple, or string).

Syntax:

for variable in iterable: # code to execute for each item

The iterable (e.g., list, tuple, string) is evaluated. The variable is assigned the value of the first item in the iterable. The code inside the loop is executed. The variable is assigned the value of the next item in the iterable.

### Print odd values between 20 and 80

In [1]:
for num in range (21,80,2):
    print(num)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

### create a list of 1 to 20 numbers

In [5]:
num=[]
for i in range (1,21):
    num.append(i)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Create a list 20 to 1 numbers

In [7]:
numbers= []
for i in range (20,0,-1):
    numbers.append(i)
print(numbers)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Take the cube of odd values between 20 and 40

In [13]:
for num in range (21,40,2):
    print( num**3)

9261
12167
15625
19683
24389
29791
35937
42875
50653
59319

### Friends name and ages in a formatted string

In [17]:
names = ['a','b','c','d','e']
ages = [20,21,22,23,24]
for i in range (len(names)):
    print(f" My name is {names[i]},my age is {ages[i]}"
         )

 My name is a,my age is 20
 My name is b,my age is 21
 My name is c,my age is 22
 My name is d,my age is 23
 My name is e,my age is 24