# Discuss arithmetic , comparison , logical and assignment operators.

## i) Arithmetic operators

### Addition(+) :Add two numbers

In [1]:
a=5
b=8
print(a+b)

13

### Subtraction (-) : Subtracts one number from another

In [2]:
num_1 = 23
num_2 = 15
print(num_1-num_2)

8

### Multiplication (*) : Multiplies two numbers.

In [3]:
num_1 = 5
num_2 = 7
print(num_1*num_2)

35

### Division (/): Divides one number by another , returning a decimal

In [4]:
num_1=15
num_2=4
print(num_1/num_2)

3.75

### Floor division (//): Divides and returns only the integer part

In [5]:
num_1= 15
num_2= 6
print(num_1//num_2)

2

### Modulus (%) : Returns the remainder of a division

In [6]:
num_1= 16
num_2= 5
print(num_1%num_2)

1


### Exponentiation (**) : Raise one number to the power of another

In [7]:
2**4

16

## ii) Comparison Operators

### Equal to (==) : Checks if two values are the same.

In [12]:
a=3
b=5
print(a==b)

False

### Not equal to(!=): Checks if two values are different.

In [11]:
a= 64
b = 75
print(a!= b)

True

### Greater than (>): Checks if one value is larger .

In [10]:
a= 56
b= 45
print(a>b)

True

### Less than (<) : Checks if one value is smaller.

In [13]:
a = 87
b = 65
print(a<b)

False

### Greater than or equal to (>=): Checks if one value is larger or equal.

In [14]:
a = 56
b = 56
print(a>=b)

True

### less than or equal to (<=) : Checks if one value is smaller or equal.

In [15]:
a = 14
b = 18
print(a<=b)

True

## iii) Logical Operators :

### And (and): Returns True if both conditions are true.

In [17]:
x = 8
x <9 and x>13

False

### Or (or): Returns True if at least one condition is true.

In [18]:
a= 45
a<49 or a>34

True

### Not (not) : Reverses the truth value .

In [19]:
x = 35
not(x>76)

True

## iv) Assignment Operators :

### Assign (=): Assigns a value to a variable.

In [21]:
x=3
print(x)

3

### Add and Assign (+=): Adds a value  to a varable.

In [1]:
x=4
x+=1
x

5

### Subtract and assign (-=) : Subtracts a value from a variable.

In [2]:
x=7
x-=2
print(x)

5

### Multiply and assign (* =): Multiplies and assign.

In [3]:
x= 9
x*=2
print(x)

18

### Divide and Assign (/=): Divides and assign.

In [4]:
x=15
x/=5
print(x)

3.0