# Set

 * It is mutable in nature.
 * If we want to store group of unique values as a single entity then we should go for set.
 * Duplicates are not allowed.
* Insertion order is not preserved.
* Indexing and slicing also not supported by set.
 * Heterogeneous object are group together in set (only immutable)
 * Set is created using '{}' and elements are comma seperated.
*  We can apply mathematical operations like, union, interection, difference, symmetric diff

In [1]:
set2={8,4,2,1,5}  # Give asceding order in a set
print(set2)

{1, 2, 4, 5, 8}

In [2]:
 # Duplicates are not allowed
 set1 = {1,2,3,4,2,3,5,6,7,5,6}
 type(set1)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [3]:
set2={1,2,3,4,1,2,1,2,1,2,1,2}
set2

{1, 2, 3, 4}

In [4]:
set4={7,7,7,7,7,7,7}
set4

{7}

### Functions of set

 #### 1. add()

 * Using add() we can add individual element in set
 * 
        syntax:

   se_name.add(element)

In [5]:
 set1 = {23,57,93}
 set1.add(40)
 set1

{23, 40, 57, 93}

#### 2.remove

* The remove() function is used to remove a specific element from a set. If the element is not present in the set, it raises a KeyError

In [6]:
my_set = {7,3,2,9,4}
my_set

{2, 3, 4, 7, 9}

In [7]:
my_set.remove(3)
print(my_set)

{2, 4, 7, 9}

 Safe Alternative: discard()

#### 3. union

* The union operation on sets returns a new set that contains all the unique elements from both sets. In
 other words, it creates a new set that contains all the elements from both sets without duplicates.
 * We can pass number of sets, seperated by comma also it can be any iterable
 * syntax:
   
             set1.union(set2,set3,list1,...)

            set3 = set1 | set2

In [8]:
set1 = {1, 2, 3,4}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [9]:
 # using the | operator
set4 = set1 | set2 
print(set4)

{1, 2, 3, 4, 5}

#### 4.intersection

 * The intersection operation takes two sets as inputs and returns a new set that contains only the
 elements that are present in both sets.
 * In other words, the intersection operation returns the common elements between two sets.
 * syntax:
   
         set1.intersection(set2)

In [10]:
 set5 = {3,4,5,8,9}
 set6 = {4, 5, 6, 7, 8}
 # Use the intersection method to find the common elements between the two sets
 set7 = set5.intersection(set6)
 print(set7)

{8, 4, 5}

In [11]:
 set1 = {1,2,3,4,5}
 set2 = {3,4,5,6}
 set3 = set1 & set2   # Using symbols
 set3

{3, 4, 5}

#### 5. difference ()

* This method returns a new set that contains all the elements that are in 'set1' but not in 'set2'.
* This method is equivalent to using the '-' operator to perform the set difference operation.

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
diff = set1.difference(set2)
print(diff)

{1, 2}